spring:
  application:
    name: recipe-platform-backend
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/recipes}
    username: ${DATABASE_USERNAME:admin}
    password: ${DATABASE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate  # Flyway will handle schema migrations
    show-sql: ${SHOW_SQL:true}
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET:fallback-secret-for-development}
  expiration: ${JWT_EXPIRATION:86400000}

server:
  port: 8080

logging:
  level:
    root: INFO
    com.oprykhodko.recipeplatformbackend: DEBUG
    org.springframework.web: ${WEB_LOGGING:INFO}
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized